.nav {
  display: flex;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  font-size: 3em;
  padding: 0.2em 1em;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.nav__shortcut {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__shortcut > * {
  margin-right: 1.3em;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.nav__shortcut > *:hover {
  text-shadow: 0px 0px 1px 1px black;
  transition: 500ms;
}

.icon {
  font-size: 2em;
}

.nav__login,
.nav__logout {
  font-size: 1.3em;
}

.nav__logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__cart__link {
  color: black;
}

.nav__cart__info {
  position: relative;
}
.nav__cart__alert {
  position: absolute;
  bottom: 1.4em;
  left: 1.4em;
  padding: 0 0.2em;

  color: white;
  text-align: center;
  background-color: indianred;
  border-radius: 50%;
}

.nav__cart__modal {
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

  min-width: 20em;
  padding: 1em 2em;
  position: absolute;
  right: 50%;
  transform: translateX(30%);
}

.nav__cart__tocart {
  color: gray;
}
